* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: ghostwhite;
}

header {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: maroon;
    color: ghostwhite;
    line-height: normal;
    font-weight: bold;
}
h1 {
    display: inline-block;
    font-size: 48px;
    color: ghostwhite;
}

header nav {
    padding-top: 38px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    color: ghostwhite;
}

nav a {
    color: ghostwhite;
}
 li {
    display: inline-flex;
    margin-left: 25px;
    color: maroon;
}

a {
    color: maroon;
    font: 24px;
    text-decoration: none;
}

main {
    margin: 10px;
    padding: 30px;
    clear: left;
    float: inline-start;
    font-family: 'Times New Roman', Times, serif;

}

section {
    display: flex;
    align-items: center;
}

.section-title {
    width: 20vw;

}

 h2 {
    font-size: 40px;
    color: maroon;
    display: block;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 5px solid;
    border-color: maroon;
    width: 100%;
    padding: 60px 0px ;
}


h3 {
    color: ghostwhite;
}

#Work img {
    width: 150px;

}
#projects {
    display: flex;
    width: 40vw;
    flex-flow: wrap;
    margin: 20px;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
    width: 75vw; 
}

#projects > div:first-child {
    flex-basis: 2;
}

#projects article {
    width: 160px;
    height: 130px;
}

.a1 {
width: 60vw;

}


article {
    background-color: maroon;
}

article img {
    display: block;
    width: 20px;
    margin: 5px 5px;
}

p {
    font-size: 28px;
    display: inline-block;
    color: maroon;
    flex-direction: row;
    justify-content: center;
    align-content: end;
    margin-left: 20px;
    width: 80vw;
    text-align: justify;
    padding: 0px 80px 0px 0px;
}

@media only screen 
   and (min-width : 400px) {
      p1 {
        font-size: 16px;
      }
}

@media only screen 
   and (min-width : 243px) {
    p2 {
        font-size: 8px;
    }
      
}